// scifi.fyi autumn colors

$color1: #661e2b; // darkest
$color2: #9B9740; // lightest
$color3: #EBCDD5; // lighter
$color4: #C26225; // vibrant
$color5: #d9d7c3; // white
$color6: #E74C3C; // error red
$color7: #2ECC71; // succ green
$color8: #021335; // black
$color9: #5B2C36; // deep red
$color10: #C26225; // warm orange

$ui-base-color: $color1;
$ui-secondary-color: $color2;
$ui-primary-color: $color3;
$ui-highlight-color: $color4;
$base-border-color: $color5;
$simple-background-color: $color5;
$primary-text-color: $color5;
$error-value-color: $color6;
$valid-value-color: $color7;
$base-shadow-color: $color8;
$base-overlay-background: $color8;

@import 'application';

.column-header {
  background: $color10;
  color: $color5;
}
.column-back-button {
  background: $color10;
  color: $color5;
}
.column-header__button {
  background: $color10;
  color: $color5;
}
.column-header__button.active, .column-header__button.active:hover{
  background: $color10;
  color: $color5;
}
.column-header__back-button {
  background: $color10;
  color: $color5;
}
.column-header__collapsible {
  border-left:2px outset $color10;
  border-right:2px outset $color4;
}

.drawer__inner {
  background-color: #9B9740;
}

.search-popout {
  background-color: #9B9740;
}

.column .static-content.getting-started {
  background-image: url('../images/logo-scifi.png');
  background-position: 50% 50%;
  background-size:cover;
  background-color: $color9;
}

.column .static-content.getting-started p {
  display: none;
}

.columns-area {
  background: #233B5D;
}

.about-body .mascot {
  display:none;
}

.landing-page .header-wrapper,
.landing-page .header-wrapper.compact {
    background-image:url('../images/header-scifi.png');
    background-size:cover;
    background-position:50% 50%;
}
.landing-page .header {
    .heading {
        visibility:hidden;
    }
    .hero .floats {
        .float-1, .float-2, .float-3 {
	    opacity:0.0;
	}
    }
}
.about-body .brand {
    visibility:hidden;
}
