// scifi.fyi colors

$color1: #05285c; // darkest
$color2: #e0e0e0; // lightest
$color3: #95A5A6; // lighter
$color4: #eeae00; // vibrant
$color5: #f0f0f0; // white
$color6: #E74C3C; // error red
$color7: #2ECC71; // succ green
$color8: #021335; // black

$ui-base-color: $color1;
$ui-secondary-color: $color2;
$ui-primary-color: $color3;
$ui-highlight-color: $color4;
$base-border-color: $color5;
$simple-background-color: $color5;
$primary-text-color: $color5;
$error-value-color: $color6;
$valid-value-color: $color7;
$base-shadow-color: $color8;
$base-overlay-background: $color8;

@import 'flavours/glitch/styles/index.scss';

//
.notification__message > span {
    white-space: nowrap;
}

[data-column="notifications"] .status {
    min-height: 0;
}

[data-column="notifications"] .status > .notification__message {
    margin: 0 0 0 32px;
    padding: 4px 0 4px 26px;
}

[data-column="notifications"] .status[data-favourited-by] > .status__info,
[data-column="notifications"] .status[data-favourited-by] > .status__action-bar,
[data-column="notifications"] .status[data-boosted-by] > .status__info,
[data-column="notifications"] .status[data-boosted-by] > .status__action-bar {
    display: none;
}

[data-column="notifications"] .status[data-favourited-by] > .status__content,
[data-column="notifications"] .status[data-boosted-by] > .status__content {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.status__collapse-button {
  &.active {
    color: $primary-text-color;
    background-color: $ui-highlight-color;
    border-radius: 4px;
  }
}
//

.drawer {
  @for $i from 0 through 3 {
    &.mbstobon-#{$i} > .contents {
      background-image: none;
      filter: none;
      & > .mastodon {
        background: url('../../../images/logo-scifi.png') no-repeat left bottom / contain;
	filter: none;
      }
    }
  }
}

//
//.column .static-content.getting-started {
//  background-image: url('../../../images/logo-scifi.png'), url('../../../images/background-scifi-blur.png');
//  background-position: 50% 50%;
//  background-size:cover;
//}
//

.column .static-content.getting-started p {
  display: none;
}

.columns-area {
  background: $ui-base-color url('../../../images/background-scifi-blur.png');
}

.about-body .mascot {
  display:none;
}
.landing-page .header-wrapper,
.landing-page .header-wrapper.compact {
    background-image:url('../../../images/header-scifi.png');
    background-size:cover;
    background-position:50% 50%;
}
.landing-page .header {
    .heading {
        visibility:hidden;
    }
    .hero .floats {
        .float-1, .float-2, .float-3 {
            visibility:hidden;
	    // opacity:0.0;
	}
    }
}
.about-body .brand {
    visibility:hidden;
}
