// scifi.fyi colors

$color1: #05285c; // darkest
$color2: #e0e0e0; // lightest
$color3: #95A5A6; // lighter
$color4: #eeae00; // vibrant
$color5: #f0f0f0; // white
$color6: #E74C3C; // error red
$color7: #2ECC71; // succ green
$color8: #021335; // black

$ui-base-color: $color1;
$ui-secondary-color: $color2;
$ui-primary-color: $color3;
$ui-highlight-color: $color4;
$base-border-color: $color5;
$simple-background-color: $color5;
$primary-text-color: $color5;
$error-value-color: $color6;
$valid-value-color: $color7;
$base-shadow-color: $color8;
$base-overlay-background: $color8;

@import 'flavours/glitch/styles/index.scss';

[data-whatinput="mouse"], [data-whatinput="touch"] {
  .status__content:focus, .status:focus,
  .status__wrapper:focus, .status__content__text:focus {
    outline: none;
  }
}

.status__collapse-button {
  &.active {
    color: $primary-text-color;
    background-color: $ui-highlight-color;
    border-radius: 4px;
  }
}

.column .static-content.getting-started {
  background-image: url('../../../images/logo-scifi.png'), url('../../../images/background-scifi-blur.png');
  background-position: 50% 50%;
  background-size:cover;
}

.column .static-content.getting-started p {
  display: none;
}

.columns-area {
  background: $ui-base-color url('../../../images/background-scifi-blur.png');
}

.about-body .mascot {
  display:none;
}
.landing-page .header-wrapper,
.landing-page .header-wrapper.compact {
    background-image:url('../../../images/header-scifi.png');
    background-size:cover;
    background-position:50% 50%;
}
.landing-page .header {
    .heading {
        visibility:hidden;
    }
    .hero .floats {
        .float-1, .float-2, .float-3 {
            visibility:hidden;
	    // opacity:0.0;
	}
    }
}
.about-body .brand {
    visibility:hidden;
}
